%div
  %h3 Equipment Brokerage
  %p 
    Please contact Andrew Brinkman at (502) 640-7786 or
    %a{:href=>"mailto:ABBrinkmanii@gmail.com"} ABBrinkmanii@gmail.com 
    for more information about this service.
